.home-screen-container {
  padding: 24px;
}

.home-content {
  display: flex;
  margin-top: 16px;
  height: calc(100vh - 100px); 
}

.calendar-left {
  flex: 1.5; 
  margin-right: 16px;
}

.right-content {
  flex: 1; 
  display: flex;
  flex-direction: column;
  height: 100%; 
}