.calendar-wrapper {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.calendar-box {
  padding: 1rem;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}